#index-img {
  height: 400px;
  width: 400px;
  background-image: url(/imgs/gymicon.png);
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  object-fit: cover;
}


body > header > div > h1 > a {
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

body > header {
  margin-top: 200px;
}

body > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-feed {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

body > div > div > ul {
  display: flex;
  justify-content: space-evenly;

}

body > div > div > div.container > div > ul > li > img {
  object-fit: cover;
}

body > div > div > div.container {
  display: flex;
  justify-content: space-evenly;
}

/* body > div > div > div.container > div:nth-child(1) > ul > li > h4:nth-child(1), body > div > div > div.container > div:nth-child(2) > ul > li > h4:nth-child(1) {
  margin-left: 30px;
  font-size: 15px;
}
body > div > div > div.container > div:nth-child(1) > ul > li > h4:nth-child(2), body > div > div > div.container > div:nth-child(2) > ul > li > h4:nth-child(2) {
  margin-left: 30px;
  font-size: 15px;
} */


/* Text description styles */
#ml-30 {
  margin-left: 47.5px;
  font-size: 15px;
}

#ml-30-sty-1 {
  text-decoration: underline;
  margin-left: 47.5px;
  font-size: 15px;
}

body > div > div > div.col-6 > div > form.col-1 > button {
  color: red;
}

body > div > div > div.col-6 > div > form.col-3 > button {
  color: #696969;
}